body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif

}

h1 {
    margin-left: 200px;
    font-size: 24px;
    color: #f9faf8
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}


ul {

    list-style-type: none;
    display: flex;
    gap: 30px;

}

.header {

    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.right-links {

    margin-right: 200px;
}

.bodysec {

    display: flex;
    flex-direction: column;
    flex: 1;
}

.sec1 {

    background-color: #1F2937;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 100px 200px;
}

.left-sec1{
     flex: 1;
     display: flex;
     flex-direction: column;
     max-width: 500px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
}

.hero-subtitle {

    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

button {

    align-self: flex-start;
}

.right-sec1{
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    max-width: 500px;
}
.sec2 {
    padding: 75px 200px;
    flex: 1;
}

.container-sec2 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.text-sec2 {

    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 20px;
}

.square {

    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 15%;
    margin-bottom: 20px;
}

.info {
    max-width: 200px;
}

.subtext-sec2 {

    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.sec3 {

    padding: 100px 500px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #e5e7eb;
}

.text-sec3 {

    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    align-self: center;
}

.subtext-sec3 {

    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
    align-self: flex-end;
}

.sec4 {

    flex: 1;
}


